#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {
    chosen {
        zephyr,display = &st7735r_display;
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
    };

    /* System Status Inputs */
    gpio_pins: gpio_pins {
        compatible = "gpio-keys";

        gpio_pg: gpio_pg {
            status = "disabled";
            gpios = <&gpio0 40 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "PG";
            zephyr,code = <INPUT_KEY_0>;
        };
 
        gpio_wakeup: gpio_wakeup {
            status = "disabled";
            gpios = <&gpio0 41 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "WAKEUP";
            zephyr,code = <INPUT_KEY_1>;
        };

        gpio_lbo: gpio_lbo {
            status = "disabled";
            gpios = <&gpio0 42 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "LBO";
            zephyr,code = <INPUT_KEY_2>;
        };
        
        key_ok: key_ok {
            status = "okay";
            gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Encoder Switch";
            zephyr,code = <INPUT_KEY_ENTER>;
        };
    };

    encoder: encoder {
        status = "okay";
        compatible = "gpio-qdec";
        /* A and B GPIOs */
        gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>, 
                <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        steps-per-period = <4>;
        zephyr,axis = <INPUT_REL_WHEEL>;
        sample-time-us = <2000>;
        idle-timeout-ms = <200>;
    };

    /* DBI Bridge: Connects SPI to the Display Driver */
    mipi_dbi_st7735r: mipi_dbi_st7735r {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi2>;
        dc-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
        #address-cells = <1>;
        #size-cells = <0>;

        st7735r_display: st7735r@0 {
            compatible = "sitronix,st7735r";
            reg = <0>;
            mipi-max-frequency = <16000000>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
            width = <128>;
            height = <160>;
            x-offset = <0>;
            y-offset = <0>;
            
            colmod = <0x05>;
            madctl = <0xC8>;
            pwctr1 = [a2 02 84];
            pwctr2 = [c5];
            pwctr3 = [0a 00];
            pwctr4 = [8a 2a];
            pwctr5 = [8a ee];
            frmctr1 = [01 2c 2d];
            frmctr2 = [01 2c 2d];
            frmctr3 = [01 2c 2d 01 2c 2d];
            gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
            gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
        };
    };
};

/* SPI Bus for ST7735R */
&spi2 {
    status = "okay";
    pinctrl-0 = <&spim2_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>; 
};

&pinctrl {
    spim2_default: spim2_default {
        group1 {
            pinmux = <SPIM2_MOSI_GPIO11>,
                     <SPIM2_SCLK_GPIO12>;
        };
    };
};

&usb_serial {
    status = "okay";
};
